/* Floating Label Container */
.floating-label-container label {
  font-weight: 500;
}

/* Input Field */
.floating-label-input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

/* Error Message */
.error-message {
  color: red;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.stepper.stepper-pills .stepper-item .stepper-icon {
  margin-right: 0;
}
.stepper.stepper-pills .stepper-item .stepper-label .stepper-title {
  font-size: 1rem;
}
.mw-900px {
  max-width: 90% !important;
}
select.floating-label-input {
  appearance: auto;
}
