:root {
  --bg-color: red;
}

/* Floating Label Container */
.floating-label-container label {
  font-weight: 500;
}

/* Input Field */
.floating-label-input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

/* Error Message */
.error-message {
  color: red;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.stepper.stepper-pills .stepper-item .stepper-icon {
  margin-right: 0;
}
.stepper.stepper-pills .stepper-item .stepper-label .stepper-title {
  font-size: 1rem;
}
.mw-900px {
  max-width: 90% !important;
}
select.floating-label-input {
  appearance: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.app-sidebar .menu .menu-item .menu-link.active .menu-title {
  color: #104485 !important;
}

.menu-item .menu-link {
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.menu-item {
  padding: 0px 0 10px 0;
}

.menu-item .menu-link i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.show-toggle .menu-item .menu-link.active i {
  background: #fff;
}
.show-toggle .menu-item .menu-link.active {
  background-color: transparent !important;
  transition: all 0.3s ease-in-out;
}
/* ------------------------- */

.horizontal-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal-table-header .header-col {
  flex: 1;
  font-weight: bold;
  text-align: center;
}
.horizontal-table-header .header-col p {
  font-size: 12px;
  line-height: 14px;
  white-space: break-spaces;
  margin-bottom: 10px;
}

.horizontal-table .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.horizontal-table .row .col {
  flex: 1;
  text-align: center;
}

.horizontal-table button {
  margin-top: 10px;
}
